.filemanager {
  width: 400px;
  padding: 10px;
}

.filemanager__form {
  display: flex;
}

.filemanager__form-diskdrive {
  margin-right: 10px;
  width: 30px;
}

.filemanager__dirs {
  height: 200px;
  overflow-y: scroll;
  margin: 10px 0;
  padding: 5px;
  background: #cccccc;
}

.filemanager__bottom {
  display: flex;
  flex-direction: row-reverse;
}
