.StepBuildLibraryTree {

}

.StepBuildLibraryTree__dir {
  background: #cccccc;
}

.StepBuildLibraryTree__dir-children {
  padding: 0px 0 5px 10px;
  overflow-x: hidden;
}

.StepBuildLibraryTree__dir-tracks {
  padding: 0px 0 5px 10px;
}

.StepBuildLibraryTree__track {
  white-space: nowrap;
  overflow-x: hidden;
}

.StepBuildLibraryTree .fa {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: azure;
  border-radius: 5px;
  margin: 5px 5px 0 0;
  text-align: center;
}
